body {
	overflow-y: hidden;
	font-family: 'Oxygen', sans-serif;
	background-color: #0c0e28;
}
.container {
	color: white !important;
	height: 100vh;
}
.row {
	height: 100%;
}

h5 {
	color: #a3a0ac !important;
}

button {
	position: relative;
	background-color: transparent !important;
	color: white !important;
	border-radius: 0 !important;
	border-color: #a3a0ac !important;
}
button::before {
	content: '';
	height: 1px;
	width: 30px;
	background-color: #a3a0ac;
	position: absolute;
	left: -15px;
	top: 50%;
}

.stars-container {
	opacity: 0.3;
	position: fixed;
	min-width: 100vw;
	max-width: 400vw;
}

button:active, button:focus {
	outline: none !important;
	box-shadow: none !important;
}