body {
    background-color:  #0c0e28;
}
.img-thumbnail {
    border-radius: 50%;
}
#general h5 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    width: auto !important;
}

#detailed {
    color: black !important;
    background-color: white;
    border-radius: 10px;
}

.textwtf {
    color: black !important;
}
#detailed h4 {
    border-bottom: 2px solid var(--dark);
    padding-bottom: 3px;
}

.mx-width-250 {
    max-width: 250px;
}