:root {
  --navbarWidth: 300px;
}

.sidebar-offset {
  width: var(--navbarWidth) !important;
}

.navbar {
  top: 0;
  left: 0;
  background: linear-gradient(
      180deg,
      rgba(229, 125, 144, 0.8),
      rgba(33, 27, 23, 1)
    ),
    url(./img/navbg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--navbarWidth);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  min-height: 100vh;
  height: 100%;
  z-index: 1;
}

/* On */
@media (max-width: 1024px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    height: auto;
    width: 100%;
    background: rgba(229, 125, 144, 1);
  }
  .navbar img {
    width: 250px;
    margin-bottom: 15px;
  }
  .navigation {
    position: absolute;
    background-color: rgba(229, 125, 144, 1);
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -45;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
  }
  .navigation.show {
    transform: translateY(0);
  }
  .navigation.close {
    transform: translateY(-100vh);
  }
  .navigation ul {
    opacity: 0;
    width: 80%;
    transition-delay: 1s;
    transition: 0.35s;
  }

  .navigation.show ul {
    opacity: 1;
    transition-delay: 0.6s;
  }

  .navbar a.active {
    background: var(--soft-pink) !important;
    color: black;
    font-weight: 400;
  }

  .navigation img {
    width: 25px;
  }

  .subheading-social {
    position: absolute;
    top: 75vh;
    opacity: 0;
    transition: 0.35s;
  }
  .subheading-social.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s;
    transition-delay: 0.6s;
  }
  .subheading-social.close {
    opacity: 0;
    transform: translateY(-100vh);
    transition-delay: 0;
    transition: 1s;
  }

  .social-media a:hover {
    background: black;
  }
}

.navbar-offset {
  z-index: -1 !important;
  background-color: red;
  width: 160px;
}

.navbar li {
  color: var(--soft-white);
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 3px;
}

.navbar a {
  transition: background 0.35s !important;
}

.navbar a.active {
  border-radius: 8px;
  background: rgba(229, 125, 144, 0.4);
}

.social-media a {
  padding: 5px;
}
.social-media a:hover {
  background: rgba(229, 125, 144, 1);
}

.navbar .icon-box {
  background-color: var(--soft-white);
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .line {
  height: 1px;
  background-color: var(--soft-white);
  opacity: 0.4;
  border-radius: 50%;
}

.navbar-subheading {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
}
