@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(33, 27, 23);
  --secondary: rgb(229, 125, 144);
  --soft-white: rgb(245, 245, 245);
  --soft-pink: #f2ced8;
}

.App {
  position: relative;
}

.app-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

body {
  height: 100% !important;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--soft-white);
}

/* Custom UI */
.text-soft-white {
  color: rgb(245, 245, 245);
}

h1 {
  font-size: 70px;
  font-weight: 500;
  color: var(--secondary);
}

h1.navbar-h1 {
  font-size: 37px;
  font-weight: 500;
  color: var(--soft-white) !important;
}

h2 {
  font-size: 40px;
  color: var(--secondary);
  font-weight: 400;
}

h3 {
  font-size: 30px;
  color: var(--secondary);
  font-weight: 400;
}

h4 {
  font-size: 26px;
  color: var(--secondary);
  font-weight: 400;
}

p {
  font-size: 22px;
  font-family: "Ubuntu", sans-serif;
  color: var(--primary);
  font-weight: 300;
}
